<div class="blade-static">
  <div class="form-group searchrow">
    <div class="form-input column-half">
      <input placeholder="{{ 'platform.placeholders.search-keyword' | translate }}" ng-model="blade.searchKeyword" ng-keyup="$event.which === 13 && criteriaChanged()" />
      <button class="btn" type="button" title="Clear" ng-click="clearKeyword()"></button>
    </div>
    <ui-select ng-model="blade.statusFilter" ng-change="criteriaChanged()" class="column-half">
      <ui-select-match allow-clear="true" placeholder="{{ 'return.blades.return-list.placeholders.statuses' | translate }}">{{ $select.selected.value }}</ui-select-match>
      <ui-select-choices repeat="x.key as x in blade.statuses | filter: { value: $select.search }">
        <span ng-bind-html="x.value | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
<div class="blade-static __bottom" ng-if="pageSettings.itemsPerPageCount < pageSettings.totalItems" ng-include="'pagerTemplate.html'"></div>
<div class="blade-content __xxlarge-wide">
  <div class="blade-inner">
    <div class="inner-block" ng-init="setGridOptions('returnlist-grid', {
                    useExternalSorting: true,
                    data: 'listEntries',
                    rowTemplate: 'return-list.row.html',
                    rowHeight: 61,
                    columnDefs: [
                                { name: 'actions', displayName: '', enableColumnResizing: false, enableSorting: false, width: 30, cellTemplate: 'return-list-actions.cell.html', pinnedLeft: true, displayAlways: true },
                                { name: 'number', displayName: 'return.blades.return-list.labels.return-number', sort: { direction: uiGridConstants.ASC } },
                                { name: 'orderNumber', displayName: 'return.blades.return-list.labels.order-number', enableSorting: false },
                                { name: 'customerName', displayName: 'return.blades.return-list.labels.customer-name', enableSorting: false },
                                { name: 'organizationName', displayName: 'return.blades.return-list.labels.organization-name' },
                                { name: 'status', displayName: 'return.blades.return-list.labels.return-status'},
                                { name: 'createdDate', displayName: 'return.blades.return-list.labels.created-date'},
                                { name: 'modifiedDate', displayName: 'return.blades.return-list.labels.modified-date'},
                                { name: 'createdBy', displayName: 'return.blades.return-list.labels.created-by'},
                                { name: 'itemsCount', displayName: 'return.blades.return-list.labels.items-count', enableSorting: false }
                        ]})">
      <div class="note" ng-if="!listEntries.length">{{ 'platform.list.no-data' | translate }}</div>
      <div class="table-wrapper" ng-if="listEntries.length">
        <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-save-state ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-height></div>
        <ng-include src="'return-list-context-menu.row.html'"></ng-include>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="return-list.row.html">
  <div ng-click="grid.appScope.selectNode(row.entity)" ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid" ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'" class="ui-grid-cell" ng-class="{'ui-grid-row-header-cell': col.isRowHeader, '__hovered': grid.appScope.contextMenuEntity === row.entity, '__selected': row.entity.id===grid.appScope.selectedNodeId }" role="{{col.isRowHeader ? 'rowheader' : 'gridcell' }}" ui-grid-cell context-menu="grid.appScope.contextMenuEntity = row.entity" data-target="cml_menu"></div>
</script>

<!-- Own template id, not the orders module's "list-actions.cell.html": ng-template ids share one
     global cache, so a shared name would make this grid open the orders context menu. -->
<script type="text/ng-template" id="return-list-actions.cell.html">
  <div class="ui-grid-actions" left-click-menu="grid.appScope.contextMenuEntity = row.entity" data-target="cml_menu">
    <i class="fa context-menu"></i>
  </div>
</script>

<script type="text/ng-template" id="return-list-context-menu.row.html">
  <ul class="menu __context" role="menu" id="cml_menu">
    <li class="menu-item" ng-click="selectNode(contextMenuEntity)" id="menu_edit">
      <i class="menu-ico fa fa-edit"></i> {{ 'platform.commands.manage' | translate }}
    </li>
    <li class="menu-item" ng-click="copy(contextMenuEntity.id)" id="menu_copyId">
      <i class="menu-ico fa fa-copy"></i> {{ 'return.blades.return-list.labels.copy-id' | translate }}
    </li>
    <li class="menu-item" ng-click="copy(contextMenuEntity.number)" id="menu_copyNumber">
      <i class="menu-ico fa fa-copy"></i> {{ 'return.blades.return-list.labels.copy-number' | translate }}
    </li>
  </ul>
</script>
